.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.playground {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  margin: 20px 0;
}

h5 {
  font-size: 1rem;
}

.count span {
  margin-right: 50px;
}

.detected,
.noDetected {
  border: 1px solid;
  padding: 10px;
}

.detected {
  color: rgb(0, 225, 255);
}

.noDetected {
  color: rgba(255, 123, 0, 0.945);
}

.supportedLangs {
  display: flex;
  flex-wrap: wrap;
}

.decision {
  min-height: 70px;
}

.actionBtns {
  margin: 20px 0;
}

.actionBtns button {
  margin-right: 30px;
}
