.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.9;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.actionBtns button {
  margin: 20px;
}
