.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.form {
  width: 300px;
}

.actionBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionBtns button {
  margin-right: 20px;
}

.messageContainer {
  min-height: 50px;
  margin: 20px 0;
}

.error {
  color: rgba(207, 19, 19, 0.87);
  text-align: center;
}

.success {
  color: rgba(56, 139, 7, 0.87);
  text-align: center;
}
